<%- include('partials/headerStart'); -%>

<div class="content">
  <img class="start-img" src="imagini/pc.jpg">
  <div class="disp-mod">
    <h1 >I'm Michael.</h1>
    <p>
      a programmer.
    </p>
  </div>
</div>
<img src="https://media3.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif" class="float-end rounded-circle">
<div class="middle-content">
    <section class="comercial">
      <img class="middle-img" src="imagini/idea.jpg">
      <p>
        Save time, money and energy to focus on what really matters.<br>
        Create and monetize your online Courses, with UniCourse.
      </p>
      <hr>
    </section>
</div>
<div class="bottom-content">
  <img class="end-img" src="imagini/binary.jpg">
  <p>
    Our curriculum is designed to engage students with different learning styles and abilities.<br>
    The learning assets we are using are rich and interactive, providing visual and auditory stimulation for our students.<br>
    <hr>
  </p>
</div>
<div class="auxilar-content align-items-right">
  <div class="typewriter">
    <h1>Click below and start programming with your personal accont;</h1>
  </div>
  <img class="Log-img" src="https://media1.giphy.com/media/IgLIVXrBcID9cExa6r/giphy.gif?cid=ecf05e470r9djhq28jn5ir8x4y9t407fgfqh1l7mrgd7yrwe&rid=giphy.gif&ct=g" >
  <form  action="/register" method="get">
    <button class="log-btn" type"submit" name="start-now">Start Now</button>
  </form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="index.js"></script>

<%- include('partials/footer'); -%>
