
<%- include('partials/header'); -%>
  <img src="https://www.lifewire.com/thmb/2KYEaloqH6P4xz3c9Ot2GlPLuds=/1920x1080/smart/filters:no_upscale()/cloud-upload-a30f385a928e44e199a62210d578375a.jpg" class="resize">
   <form action="/upload" method="post" enctype="multipart/form-data" class="box2">
     <label class="move-text-center">Place your video files here</label>
     <input type="file" name="avatar" multiple/ class="center-m" accept="video/*">
     <button class="center-m">Upload</button>
   </form>
<%- include('partials/footer'); -%>
