
<%- include('partials/header'); -%>
<div class= "picpos">

 <a href="/viewVid1">
    <img alt="Qries" src="/imagini/css.png" class ="w">
 </a>
 <a href="/viewVid2">
    <img alt="Qries" src="/imagini/js.png" class ="w">
 </a>
<a href="/viewVid3">
    <img alt="Qries" src="/imagini/nodejs.png" class ="w">
</a>
<a href="/viewVid4">
    <img alt="Qries" src="/imagini/bootstrap.png" class ="w">
</a>
<a href="/viewVid5">
    <img alt="Qries" src="/imagini/Ejs.png" class ="s">
</a>

</div>
 <%- include('partials/footer'); -%>
