<%- include('partials/header'); -%>

<div class="video-text">
  <h2>Video Course</h2>
  <p>This video is 61MB and is being streamed instead of downloaded</p>
  <p>
    Feel free to seek through the video and it only loads the part you want to
    watch
  </p>
</div>
    <video class="videos-uploaded sing-vid" id="videoPlayer1" width="650" controls muted="muted" buffered>
      <source src="/video1" type="video/mp4" /><br>
    </video>
    <video class="videos-uploaded sing-vid unique" id="videoPlayer2" width="650" controls muted="muted" buffered>
      <source src="/video2" type="video/mp4" /><br>
    </video>
    <video class="videos-uploaded sing-vid" id="videoPlayer3" width="650" controls muted="muted" buffered>
      <source src="/video3" type="video/mp4" /><br>
    </video>
    <video class="videos-uploaded sing-vid" id="videoPlayer4" width="650" controls muted="muted" buffered>
      <source src="/video4" type="video/mp4" /><br>
    </video>
    <video class="videos-uploaded sing-vid" id="videoPlayer5" width="650" controls muted="muted" buffered>
      <source src="/video5" type="video/mp4" /><br>
    </video>
    <video class="videos-uploaded sing-vid" id="videoPlayer6" width="650" controls muted="muted" buffered>
      <source src="/video6" type="video/mp4" /><br>
    </video>
<%- include('partials/footer'); -%>
