<%- include('partials/headerVideo'); -%>
<div class="video-text">
  <h1 class="display-1 text-center">What would you like to learn <span style="color:white">today?</span></h1>
  <p class="text-center">
    Feel free to seek through the video and it only loads the part you want to
    watch
  </p>
  <p class="mb-0 text-center">Improve your performance every day.</p>
</div>
<div class="container">

   <div class="main-video-container">
      <video src="videos/HTML.mp4" loop controls class="main-video"></video>
      <h3 class="main-vid-title">Lesson 1 - Start with HTML</h3>
   </div>

   <div class="video-list-container">

      <div class="list active">
         <video src="videos/CSS.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 2 - Style your own Website</h3>
      </div>

      <div class="list">
         <video src="videos/JS.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 3 - Things are getting better with JS</h3>
      </div>

      <div class="list">
         <video src="videos/Nodejs.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 4 - Dont't have a server ?</h3>
      </div>

      <div class="list">
         <video src="videos/EJS.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 5 - New to EJS ?</h3>
      </div>

      <div class="list">
         <video src="videos/BTSTR.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 6 - Bootstrap is your friend</h3>
      </div>
      <div class="list">
         <video src="videos/UploadImages.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 7 - Upload Images to S3 from Node Back End</h3>
      </div>
      <div class="list">
         <video src="videos/Mulder.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 8 - Understanding File Uploads in Node.js using Multer</h3>
      </div>
      <div class="list">
         <video src="videos/videostream.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 9 - Creating a video streaming with Node.js</h3>
      </div>
      <div class="list">
         <video src="videos/CustomHTML.mp4" class="list-video"></video>
         <h3 class="list-title">Lesson 10 - Create A Custom HTML5 Video Player</h3>
      </div>
   </div>

</div>

<script src="js/script.js"></script>

<%- include('partials/footerVideo'); -%>
