
<%- include('partials/header'); -%>
      <form class="" action="/view" method="post">
				<h3>Add Videos to your watch list</h3>
         <input type="text" name="newItem" >
				 <button type="submit" name="button">ADD</button>
			</form>
	    <video src=""></video>
<%- include('partials/footer'); -%>
